.ic-scrollbar {

    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f12e;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(188, 188, 188);
        border-radius: 8px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(118, 118, 118);
    }
}
