files:
  /etc/supervisor/supervisord.conf:
    mode: "000775"
    owner: root
    group: root
    content: |
        ; supervisor config file

        [unix_http_server]
        file=/var/run/supervisor.sock   ; (the path to the socket file)
        chmod=777                       ; sockef file mode (default 0700)

        [supervisord]
        user = root
        logfile=/var/log/supervisor/supervisord.log ; (main log file;default $CWD/supervisord.log)
        pidfile=/var/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
        childlogdir=/var/log/supervisor            ; ('AUTO' child log dir, default $TEMP)

        ; the below section must remain in the config file for RPC
        ; (supervisorctl/web interface) to work, additional interfaces may be
        ; added by defining them in separate rpcinterface: sections
        [rpcinterface:supervisor]
        supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

        [supervisorctl]
        serverurl=unix:///var/run/supervisor.sock ; use a unix:// URL  for a unix socket

        ; The [include] section can just contain the "files" setting.  This
        ; setting can list multiple files (separated by whitespace or
        ; newlines).  It can also contain wildcards.  The filenames are
        ; interpreted as relative to this file.  Included files *cannot*
        ; include files themselves.

        [include]
        files = /etc/supervisor/conf.d/*.conf
        ; Change according to your configurations

  /etc/supervisor/conf.d/laravel-worker.conf:
    mode: "000775"
    owner: root
    group: root
    content: |
        [program:laravel-worker]
        process_name=%(program_name)s_%(process_num)02d
        command=php /var/www/html/artisan  queue:work --queue=default,emails --sleep=3 --tries=3 --daemon
        autostart=true
        autorestart=true
        user=webapp
        numprocs=2
        redirect_stderr=true
        stdout_logfile=/var/log/supervisor/laravel-worker.log

  /var/log/supervisor/laravel-worker.log:
    mode: "000775"
    owner: root
    group: root
    content: |
        laravel worker log file

  /var/log/supervisor/supervisord.log:
    mode: "000775"
    owner: root
    group: root
    content: |
        supervisor log file

commands:
  01-install-supervisor:
    command: 'sudo pip install supervisor'
    ignoreErrors: true
  02-start-supervisor:
    command: 'sudo supervisord -c /etc/supervisor/supervisord.conf'
    ignoreErrors: true

