files:
  "/etc/cloudwatchagent/ac_agent.json":
        mode: "000600"
        owner: root
        group: root
        content: |
            {
              "logs":{
                  "logs_collected":{
                    "files":{
                        "collect_list":[
                           {
                              "file_path":"/var/log/supervisor/laravel-worker.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "laravel-queue-worker.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                           {
                              "file_path":"/var/www/html/storage/logs/laravel.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "laravel.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/supervisor/supervisord.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk/supervisor", { "Ref":"AWSEBEnvironmentName" }, "supervisord.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/supervisor/redis-worker.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "redis-worker.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/supervisor/websocket-server.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "websocket-server.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/cfn-init.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "cfn-init.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/eb-engine.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "eb-engine.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/nginx/access.log",
                              "log_group_name":"`{"Fn::Join":["/", ["/aws/elasticbeanstalk/nginx", { "Ref":"AWSEBEnvironmentName" }, "access.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          },
                          {
                              "file_path":"/var/log/nginx/error.log",
                              "log_group_name": "`{"Fn::Join":["/", ["/aws/elasticbeanstalk/nginx", { "Ref":"AWSEBEnvironmentName" }, "error.log"]]}`",
                              "log_stream_name":"{instance_id}",
                              "timezone":"Local"
                          }
                        ]
                    }
                  },
                  "log_stream_name":"{instance_id}",
                  "force_flush_interval":15
              }
            }
